mixin listItem(item, iconClass)
  li.nav__item 
    a(href="#"+ item.toLowerCase()).nav__link
      i(class=iconClass)
      #{item}

header.header#header 
  nav.nav.container 
    a(href="#").nav__logo #{name}
    .nav__menu#nav-menu
      ul.nav__list.grid
        +listItem('Home',#{homeIcon})
        +listItem('User',#{userIcon})
        +listItem('About',#{aboutIcon})
        +listItem('Skills',#{skillsIcon})
        +listItem('Services',#{servicesIcon})
        +listItem('Portfolio',#{portfolioIcon})
        +listItem('Contact me',#{contactMeIcon})
      i(class=#{closeMenuIcon}).nav__close#nav-close
    .nav__btns
      .nav__toggle#nav__toggle
        i(class=#{appIcon})